body {
    padding: 32px;
    font-size: 1.2rem;
    color: #073642;
}

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    color: #002b36;
}

body {
    font-family: serif;
    background-color: #fdf6e3;
}

p {
    line-height: 1.4;
}

a {
    color: #268bd2;
}

a:visited {
    color: #d33682;
}

.post-container {
    max-width: 1200px;
}
